# ==========================
# Database
# ==========================

DB_URL=jdbc:postgresql://localhost:5432/devhub
DB_USERNAME=postgres
DB_PASSWORD=your_password

# ==========================
# Test Database
# ==========================

TEST_DB_URL=jdbc:postgresql://localhost:5432/devhub_test
TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=your_password

# ==========================
# Spring
# ==========================

SPRING_PROFILE=local

# ==========================
# JWT
# ==========================

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

JWT_ACCESS_EXPIRATION=your_access_expiration
JWT_REFRESH_EXPIRATION=your_refresh_expiration